h1{
    color: #293651;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.subtitle1{
    color:  #00a78e ;
    font-size: 26px;
    font-family: sans-serif;
    margin-bottom: 30px;
    font-weight: 100;
}

.subtitle2{
    color: #293651;
    letter-spacing: 2pt;
    font-size: 22px;
    letter-spacing: 1.2pt;
    
}

.text{
    color: #76778c;
    font-size: 20px;
    letter-spacing: 1.2;
    line-height: 32px;
    margin-bottom:30px ;
}

.btn{
    background-color:  #00a78e;
    border-radius: 5px;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    
}

.subtitle2{
    color: #293651;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    text-align: center;
}

.text{
    color:  #76778c ;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1.2pt;
    line-height: 32px;
    text-align: center;
}